<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/img/style.css" />
    <title>Register</title>
</head>

<body>


    <form method="post" action="/customer/addCustomer" class="form">

        <input id="firstName" name="fistName" placeholder="Enter your first name" required type="text">
        <input id="surName" name="surName" placeholder="Enter your sur name" required type="text">
        <input id="yearOfBirth" name="yearOfBirth" placeholder="Enter your date of birth" required type="text">

        <input type="submit" value="Crate new customer">

    </form>





</body>