<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="../img/style.css" />
    <title>Register</title>
</head>

<body>

<h1>New customer:</h1>
<div class="formFlex">
    <form method="post" action="/customer/addCustomer" class="form">
        <label for="firstName">First name:</label>
        <input id="firstName" name="firstName" placeholder="Enter your first name" required type="text">
        <br>
        <label for="surName">Surname:</label>
        <input id="surName" name="surname" placeholder="Enter your surname" required type="text">
        <br>
        <label for="yearOfBirth">Birth year:</label>
        <input id="yearOfBirth" name="yearOfBirth" placeholder="Enter your date of birth" required type="text">
        <br>
        <div th:each="supermarket : ${Supermarkets}">
            <label th:for="${supermarket.getName()}" th:text="${supermarket.getName()}"></label>
            <input th:checked="${supermarketStat.index} == 0" id="superMarket" type="radio" name="superMarket" th:value="${supermarket.getName()}">
        </div>

        <input type="submit" value="Crate new customer">

    </form>


</div>

<a href="/">Back to home page</a>





</body>