<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title></title>
</head>
<body>


    <form method="post" action="/staff/addStaffMember" class="form">
        <input id="firstName" name="fistName" placeholder="first name" required type="text">
        <input id="surName" name="surname" placeholder="surname" required type="text">
        <input id="employedSince" name="employedSince" required type="date">
        <input id="student" name="student" type="checkbox">

        <input type="submit" value="Create new staff member">


    </form>


</body>
</html>a