<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="../img/style.css" />
    <title>New SuperMarket</title>
</head>
<body>

<h1>New supermarket:</h1>
<div class="formFlex">
    <form class="for" method="post" action="/supermarket/addSuperMarket">

        <label for="superMarketName">Super market name:</label>
        <input name="superMarketName" id="superMarketName" type="text" placeholder="Super market name">

        <input type="submit" value="Submit new supermarket">

    </form>



</div>

<a href="/">Back to home page</a>




</body>
</html>